DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=myapp

VM_PORT=8428
JAEGER_MP=16686
JAEGER_PORT=4318
GRAFANA_PORT=3000

TRACES_ENDPOINT=http://jaeger:4318/v1/traces
METRICS_ENDPOINT=http://victoriametrics:8428/opentelemetry/v1/metrics
